
body{
    margin: 10px;
    border: 1px solid grey;
}

.page_header {
    display: flex;
    min-width: 600px;
    background-color: black;
    color: white;
    justify-content: flex-start;
    padding: 30px 50px;
    flex-flow:row wrap;
    }

.name{
    flex: 0 1 30%;
    min-width: 375px;
    padding:25px 0;
    font-family: 'Spinnaker', sans-serif;
    font-size: 35px;
    text-align: center;
    

}

.navigation{
    flex: 0 1 40%;
    min-width: 500px;
    padding:40px 0;
    text-align: center;
  
}

ul{
    display: block;
    margin: 0 auto;
    text-align: center;
}

li{
    display: inline-block;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
    }


a{
   text-align: center;
   text-decoration: none;
   color: white;
}     

.btn {
    flex: 0 1 30%;
    min-width: 300px;
    padding:45px 0;
    text-align: center;
      }

 .btn>a{  
    font-family: 'Spinnaker', sans-serif;
    font-size: 16px;
    margin-left: 30px ;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid white;
     }   

     

